*.pyc
checkpoint-path/
generation_outputs/
processed_data/
wandb/
scripts/data/zuco/answers
scripts/data/zuco/task_materials
scripts/data/zuco/task1
scripts/data/zuco/task2
scripts/data/zuco/task3
scripts/q3zws